<form #departmentMasterForm="ngForm" (ngSubmit)="formSubmit()">
    <h1 class="department">Department Master</h1> 
      <div>
      <mat-label class="label1">Add New DepartMent</mat-label>
      <mat-form-field MatFormFieldControl class="full-width1" appearance="outline">
      <input required  [(ngModel)]="dept.dept_shortName" name="dept_shortName" matInput placeholder="Department short Name">
     
      </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      <mat-form-field MatFormFieldControl class="full-width2" appearance="outline">
        <input required  [(ngModel)]="dept.dept_name" name="dept_name" matInput placeholder="Department  Name">
      </mat-form-field>
      <button mat-raised-button color="primary">Add</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     
      <button mat-raised-button color="primary">Update</button>
    </div>   
  </form>
  <!-- For List of Department-->
  <form #departmentMaster="ngForm">
    <div >
      <mat-label class="label1 " >List of Department</mat-label>
      <mat-form-field MatFormFieldControl class="full-width " appearance="outline">
      <input required name="search" type="text" matInput placeholder="Search Department" [(ngModel)]="searchText">     
     
      </mat-form-field>

      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;<button mat-raised-button color="primary">Search </button>

  
    </div>
    </form>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
    <style>
        table {
            font-family:Arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border:1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
    </style>
    <div class="container">
        <table class="table table-striped">
        <thead>
            <tr>
                <th>Department_id</th>
                <th>Department_name</th>
                <th>Department_shortName</th>
                <th>update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of books | search: searchText">
                <td>{{book.dept_id}}</td>
                <td>{{book.dept_name}}</td>
                <td>{{book.dept_shortName}}</td>
                <td><button class="btn btn-primary">Update</button></td>
                <td> <button class="btn btn-danger" (click)="delete(book.dept_id)">Delete</button> </td>

            </tr>
        </tbody>
    </table>
    </div>
</body>

</html>