<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
    <style>
        table {
            font-family:Arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border:1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
    </style>
    <div class="container">
        <table class="table table-striped">
        <thead>
            <tr>
                <th>Department_id</th>
                <th>Department_name</th>
                <th>Department_shortName</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of books">
                <th>{{book.dept_id}}</th>
                <th>{{book.dept_name}}</th>
                <th>{{book.dept_shortName}}</th>

            </tr>
        </tbody>
    </table>
    </div>
</body>

</html>